body {
  font-family: "Raleway Light";
  background-color: #EBEBEB;
}

.navbar {
  background-color: #6DFD9C;
}

.navbar a {
  color: #000 !important;
}

.navbar .search {
  border-radius: 40px;
  width: 300px;
}

.card {
  background-color: #FFFFFF;
  margin: 10px;
  padding: 20px;
}

.card h2 {
  margin-top: 0px;
}

.col-md-6, .col-md-12 {
    padding-right: 0px;
    padding-left: 0px;
}

footer {
  margin-top: 20px;
  background-color: #FFFFFF;
}

footer ul {
  list-style-type: none;
}

.footer-bottom {
	padding-top: 10px;
	padding-bottom: 10px;
}

/* RALEWAY */
@font-face{
    font-family: "Raleway Bold";
    src: url('../fonts/Raleway-Bold.eot');
    src: local('Raleway Bold'),url('../fonts/Raleway-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "Raleway Light";
    src: url('../fonts/Raleway-Light.eot');
    src: local('Raleway Light'),url('../fonts/Raleway-Light.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "Raleway Medium";
    src: url('../fonts/Raleway-Medium.eot');
    src: local('Raleway Medium'),url('../fonts/Raleway-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "Raleway SemiBold";
    src: url('../fonts/Raleway-SemiBold.eot');
    src: local('Raleway SemiBold'),url('../fonts/Raleway-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
}


/* 
    Created on : 15/04/2018, 19:35:40
    Author     : joao
    View: login.php
*/

#secao-verde, #secao-cinza{
  height:50%;
  width: 100%;
}

#secao-verde{
  background-color: #6dfd9c;
}

#secao-cinza{
  background-color: #ebebeb;
}

html, body{
  height: 100%;
}

.fill, .fill>.row{
  height: 100%;
}

.fill{
  margin-top: -20px;
}

#container-form-login{
  position: absolute;
  margin: auto;
  top: 23%;
  left: 50%;
  transform:  translate(-50%,-23%);
  text-align: center;
}

.form-login{
  background-color: #FFFFFF;
  padding: 50px 115px 30px 115px;
}

@media only screen and (max-width: 768px) {
  .form-login {
      padding-left: 5px !important;
      padding-right: 5px !important;
  }

}

#container-form-login input{
  border-radius: 35px;
  margin-bottom: 23px;
}

#container-form-login button[type=submit]{
  margin-top: 5px;
  margin-bottom: 20px;
  width: 100px;
  background-color: #5cb85c;
  border: 1px solid #5cb85c;
}

#container-form-login a{
  cursor: pointer;
  color: #699cfc;
}

.msg-login{
  margin-top: 112px;
  text-align: center;
  margin-bottom: 25px;
  height: 110px;
}

