.dropdown .dropdown-toggle span {
    margin-left: 10px;
}

body {
    font-family: "Raleway Light";
    background-color: #EBEBEB;
}

.navbar {
    background-color: #6DFD9C;
}

.navbar a {
    color: #000 !important;
}

.navbar .search {
    border-radius: 40px;
    width: 300px;
}

.card {
    background-color: #FFFFFF;
    margin: 10px;
    padding: 20px;
}

.card h2 {
    margin-top: 0px;
}

.col-md-6, .col-md-12 {
    padding-right: 0px;
    padding-left: 0px;
}

footer {
    margin-top: 20px;
    background-color: #FFFFFF;
}

footer ul {
    list-style-type: none;
}

.footer-bottom {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* RALEWAY */
@font-face{
    font-family: "Raleway Bold";
    src: url('../fonts/Raleway-Bold.eot');
    src: local('Raleway Bold'),url('../fonts/Raleway-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "Raleway Light";
    src: url('../fonts/Raleway-Light.eot');
    src: local('Raleway Light'),url('../fonts/Raleway-Light.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "Raleway Medium";
    src: url('../fonts/Raleway-Medium.eot');
    src: local('Raleway Medium'),url('../fonts/Raleway-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "Raleway SemiBold";
    src: url('../fonts/Raleway-SemiBold.eot');
    src: local('Raleway SemiBold'),url('../fonts/Raleway-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
}


/*
    Created on : 15/04/2018, 19:35:40
    Author     : joao
    View: login.php
*/

#secao-verde, #secao-cinza{
    height:50%;
    width: 100%;
}

#secao-verde{
    background-color: #6dfd9c;
}

#secao-cinza{
    background-color: #ebebeb;
}

html, body{
    height: 100%;
}

.fill, .fill>.row{
    height: 100%;
}

.fill{
    margin-top: -20px;
}

#container-form-login{
    position: absolute;
    margin: auto;
    top: 23%;
    left: 50%;
    transform:  translate(-50%,-23%);
    text-align: center;
}

.form-login{
    background-color: #FFFFFF;
    padding: 50px 115px 30px 115px;
}

#container-form-cadastro{
    position: absolute;
    margin: auto;
    top: 30%;
    left: 50%;
    transform:  translate(-50%,-15%);
    text-align: center;
}

.form-cadastro{
    background-color: #FFFFFF;
    padding: 50px 115px 30px 115px;
}

@media only screen and (max-width: 768px) {
    .form-login {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

}

#container-form-login input, #container-form-cadastro input{
    border-radius: 35px;
    margin-bottom: 23px;
}

#container-form-login button[type=submit], #container-form-cadastro button[type=submit]{
    margin-top: 5px;
    margin-bottom: 20px;
    width: 100px;
    background-color: #5cb85c;
    border: 1px solid #5cb85c;
}

#container-form-login a, #container-form-cadastro a{
    cursor: pointer;
    color: #699cfc;
}

.msg-login{
    margin-top: 112px;
    text-align: center;
    margin-bottom: 25px;
    height: 110px;
}

.msg-cadastro{
    text-align: center;
}

hr {
    background-color: #b2bec3;
    border-color: #b2bec3;
}

#dados-perfil ul {
    list-style: none;
    padding: 0;
}

#dados-perfil ul li {
    margin: 20px 0;
}

#contador-reputacao{
    font-family: "Raleway Bold";
    font-size: 30px;
}

.raleway-bold {
    font-family: "Raleway Bold";
}
.raleway-medium {
    font-family: "Raleway Medium";
}

#sobre-mim {
    border: 1px solid #b2bec3;
    padding: 20px;
    min-height: 310px;
}

.panel h4 {
    padding-left: 15px;
}

textarea {
    resize: none;
}

section.colar-rodape {
    min-height: 100%;
}


.radius-input {
    border-radius: 35px;
}
.radius-textarea {
    border-radius: 25px;
}
.lb {
    font-family: "Raleway Bold";
    margin-left: 5px;
}
td.clique {
    height: 100% !important;
    overflow:hidden;
    padding:0px !important;
}
td.clique a {
    color:inherit;
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    padding: 10px 10px 500px 10px; 
    margin-bottom: -490px;
}
.font-bold {
    font-family: "Raleway Bold";
}
#descricao-anuncio{
    padding: 20px;
}

.anuncio_panel_header{
    padding: 0 !important;
    height: 40%;
}

.anuncio_thumb_text{
    height: 60px;
    overflow: hidden;
    word-wrap: break-word;
}

.descricao_thumb{
    border: solid #ccc 1px;
    border-radius: 4px;
}

.table-carrinho td{
    padding: 30px !important; 
}
.table-carrinho a.link-anuncio{
    text-decoration: none !important;
    color: inherit;
}
.table-carrinho a.link-anuncio:hover{
    color: inherit;
}
.table-carrinho input{
    width: 50% !important;
    padding: 20px 10px; 
    line-height: 28px;
}
.td-preco {
    font-size: 30px;
}
.td-nome-anuncio{
    width: 40%
}
#quantidade-compra{
    width: 20%;
    display: inline-block !important;
    /*padding-top: 1px;*/
}

#btn-enviar-mensagem{
    padding-left: 42px;
    padding-right: 42px;
}
#img-detalhe-compra{
    max-width: 112px;
}

.panel_msg{
    overflow: auto;
    position: relative;
}

.wrap_msg{
    overflow: auto;
    height: 500px;
}

.panel-content-msg{
    padding: 0;
}

.panel_msg:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
  height: inherit;
}


.timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: relative;
    top: 70px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}


/*Css Area de notificações*/

.navbar-default .dropdown-menu.notify-drop {
  min-width: 330px;
  background-color: #fff;
  min-height: 360px;
  max-height: 360px;
}
.navbar-default .dropdown-menu.notify-drop .notify-drop-title {
  border-bottom: 1px solid #e2e2e2;
  padding: 5px 15px 10px 30px;
}
.navbar-default .dropdown-menu.notify-drop .drop-content {
  height: auto;
  max-height: 280px;
  overflow-y: scroll;
}
.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-track
{
  background-color: #F5F5F5;
}

.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar
{
  width: 8px;
  background-color: #F5F5F5;
}

.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-thumb
{
  background-color: #ccc;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li {
  border-bottom: 1px solid #e2e2e2;
  padding: 10px 0px 5px 0px;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li:nth-child(2n+0) {
  background-color: #fafafa;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li:after {
  content: "";
  clear: both;
  display: block;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li:hover {
  background-color: #fcfcfc;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li:last-child {
  border-bottom: none;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li .notify-img {
  float: left;
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: 0px 0px 8px 0px;
}
.navbar-default .dropdown-menu.notify-drop .allRead {
  margin-right: 7px;
}
.navbar-default .dropdown-menu.notify-drop .rIcon {
  float: right;
  color: #999;
}
.navbar-default .dropdown-menu.notify-drop .rIcon:hover {
  color: #333;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li a {
  font-size: 12px;
  font-weight: normal;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li {
  font-weight: bold;
  font-size: 11px;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li hr {
  margin: 5px 0;
  width: 70%;
  border-color: #e2e2e2;
}
.navbar-default .dropdown-menu.notify-drop .drop-content .pd-l0 {
  padding-left: 0;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li p {
  font-size: 11px;
  color: #666;
  font-weight: normal;
  margin: 3px 0;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li p.time {
  font-size: 10px;
  font-weight: 600;
  top: -6px;
  margin: 8px 0px 0px 0px;
  padding: 0px 3px;
  border: 1px solid #e2e2e2;
  position: relative;
  background-image: linear-gradient(#fff,#f2f2f2);
  display: inline-block;
  border-radius: 2px;
  color: #B97745;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li p.time:hover {
  background-image: linear-gradient(#fff,#fff);
}
.navbar-default .dropdown-menu.notify-drop .notify-drop-footer {
  border-top: 1px solid #e2e2e2;
  bottom: 0;
  position: relative;
  padding: 8px 15px;
}
.navbar-default .dropdown-menu.notify-drop .notify-drop-footer a {
  color: #777;
  text-decoration: none;
}
.navbar-default .dropdown-menu.notify-drop .notify-drop-footer a:hover {
  color: #333;
}
/*notify-drop-title {
    margin-left: 15px;
}*/
/*fim Css Area de notificações*/


.badge-danger{
    background-color: #d9534f !important;
}

.badge-success{
    background-color: #4cae4c !important;
}

#btn-finalizar{
    display: none;
}

.max-lines {
    display: block; /* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 1.6em;
    line-height: 1.8em;
    font-size: 18px;
    font-weight: bold;
  }

.dropdown_lang{
    position: relative;
    top: 10px;
    display: inline-block;
}
.dropdown_lang button{
    color: black !important;
    background-color: #6dfd9c !important;
}

.dropdown_lang button:hover{
    background-color: #62e38c !important;
    border-color: black;
}

.dropdown_lang button:focus{
    background-color: #62e38c !important;
    border-color: black;
}